<%- include('layout') %>

<div class="row">
    <div class="col-12">
        <h1>New Article</h1>
        <form action="/" method="POST">
            <%- include('_form_fields') %>
            <div class="mt-4">
                <a href="/" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
